application.properties
/bin/
/build/
/.idea/
.idea
build
libs
gradle
*.class
*.jar
*.war
*.ear
.gradle
gradlew
jdbcApp.log
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
settings.gradle.bak
./src/test/resources/schema.sql