/bin/
/build/
/.idea/
*.class
*.jar
*.war
*.ear
.gradle
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
settings.gradle.bak
application/projects/.idea/gradle.xml
application/projects/.idea/sonarlint/issuestore/2/3/23fec81cff1c274dda27fec75476f72229e1cf8e
application/projects/.idea/sonarlint/issuestore/3/9/398e60e0c13940731f3352c74753cbb447ca504d
application/projects/.idea/sonarlint/issuestore/5/a/5a13bef31887337a752480c6f8f57b633b060bac
application/projects/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
application/projects/.idea/sonarlint/issuestore/index.pb
application/projects/build/tmp/compileJava/previous-compilation-data.bin
*.pb
*.bin
application/projects/.idea/gradle.xml
application/projects/.idea/sonarlint/issuestore/2/3/23fec81cff1c274dda27fec75476f72229e1cf8e
application/projects/.idea/sonarlint/issuestore/3/9/398e60e0c13940731f3352c74753cbb447ca504d
application/projects/.idea/sonarlint/issuestore/5/a/5a13bef31887337a752480c6f8f57b633b060bac
application/projects/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
*.pb
*.bin
*.gz